.bg-primary,
.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.pagination .page-item.active .page-link,
.nav-pills .nav-link.active,
.form-check-input.form-check-input:checked,
.social-icon li a:hover,
#topnav .navbar-toggle.open span:hover,
.job-catagories:hover.bg-catagory-primary,
.watch-video a .play-icon-circle,
.tns-nav button.tns-nav-active,
.tiny-timeline:before,
.tiny-timeline .item-box:before, 
.tiny-timeline .item-box:after,
.blog.blog-primary .tag {
    background-color: #7952B3 !important;
}

.bg-soft-primary,
.text-primary,
.btn-soft-primary,
.btn-outline-primary,
.dropdown-primary .dropdown-menu .dropdown-item:hover, 
.dropdown-primary .dropdown-menu .dropdown-item.active, 
.dropdown-primary .dropdown-menu .dropdown-item:active, 
.dropdown-primary .dropdown-menu .dropdown-item.focus, 
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.alert-outline-primary,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb .breadcrumb-item.active,
.accordion .accordion-item .accordion-button:before,
.nav-tabs .nav-item.show .nav-link,
#topnav .has-submenu.active .submenu li.active > a,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover, 
#topnav .navigation-menu > li > a:active,
#topnav.scroll .navigation-menu > li:hover > a, 
#topnav.scroll .navigation-menu > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > a, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li.has-submenu.open > a,
#topnav .has-submenu.active a,
.features.feature-primary .title:hover,
.features.feature-primary .icon,
.features.feature-primary .link,
.key-feature.feature-primary .icon,
.container-filter li a.active, .container-filter li a:hover,
.work-container.work-primary .content a.title:hover, 
.work-container.work-primary .content a.tag:hover, 
.work-container.work-primary .content a.author:hover, 
.work-container.work-primary .content a.link:hover,
.feature-company:hover .company-name,
.job-vacancy.job-primary:hover .job-caragory,
.job-vacancy.job-primary:hover .icon,
.testi-carousel .owl-nav button i.mdi,
.blog.blog-primary .title:hover,
.blog.blog-primary .link {
    color: #7952B3 !important;
}

.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.alert-primary,
.alert-outline-primary,
.pagination .page-item.active .page-link,
.nav-tabs .nav-link.active,
.form-control:focus, .form-control.active,
.form-check-input:focus,
.form-check-input.form-check-input:checked,
.social-icon li a:hover,
#topnav .has-submenu.active.active .menu-arrow,
#topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow,
#topnav.scroll .navigation-menu > li:hover > .menu-arrow, 
#topnav.scroll .navigation-menu > li.active > .menu-arrow,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > .menu-arrow, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > .menu-arrow,
#topnav .navigation-menu > li .submenu,
#topnav .navigation-menu > li:hover > .menu-arrow,
.work-container.work-primary.work-border,
.tns-nav button.tns-nav-active {
    border-color: #7952B3 !important;
}

.social-icon li a:hover .fea-social {
    fill: #7952B3;
}

.play-icon i {
    -webkit-text-stroke: 2px #7952B3;
}

.play-icon i:hover {
    -webkit-text-stroke: 2px #7952B3;
    -webkit-text-fill-color: #7952B3;
}

.btn-primary,
.btn-soft-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 5px 0 rgba(121, 82, 179, 0.3);
}

.bg-soft-primary,
.btn-soft-primary {
    background-color: rgba(121, 82, 179, 0.1) !important;
    border: 1px solid rgba(121, 82, 179, 0.1) !important;
}

.testi-carousel .owl-nav button i.mdi {
    background-color: rgba(121, 82, 179, 0.1) !important;    
}

::selection,
.alert-primary,
.pagination .page-item .page-link:hover {
    background: rgba(121, 82, 179, 0.9);
}

.pagination .page-item .page-link:hover {
    border-color: rgba(121, 82, 179, 0.9);
}

.home-wrapper:before {
    background: linear-gradient(90deg, rgba(121, 82, 179, 0.3), transparent);
}

.text-type-element:after {
    background-color: rgba(121, 82, 179, 0.15);
}

.features.feature-primary .icon,
.job-vacancy.job-primary:hover {
    background-color: rgba(121, 82, 179, 0.05) !important;
}

.tns-nav button {
    background-color: rgba(121, 82, 179, 0.5) !important;
}

.key-feature.feature-primary .icon {
    background: linear-gradient(45deg, transparent, rgba(121, 82, 179, 0.1));
}

.container-filter .categories:after {
    background-color: rgba(121, 82, 179, 0.2);
}

a.text-primary:hover, 
a.text-primary:focus {
    color: #6d48a4 !important;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.focus {
    background-color: #614092 !important;
    border-color: #614092 !important;
}

.alert-primary .alert-link {
    color: #32214b;
}